@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s ease;
}

body {
    width: 100%;
}

.title {
    text-align: center;
    margin-top: 0.6rem;
    font-size: 3rem;
    color: #fff;
    letter-spacing: 7px;
    font-weight: 900;
    background-color: #ff1e00;
}

.barTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7.4rem;
    background-color: rgb(13, 41, 94);
    padding: 2rem;
}

.barTop img {
    position: relative;
    width: 15rem;
    align-items: center;
    display: flex;
    top: 1rem;
}

.barTop .find .find_back {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    width: 15rem;
    height: 3rem;
    align-items: center;
    overflow: auto;
}

.barTop .find .find_back input {
    width: 80%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #1d1d1d;
    padding: 0.5rem;
}

.barTop .find .find_back input::placeholder {
    padding: 0.5rem;
}

.barTop .find .find_back ion-icon {
    height: 100%;
    width: 20%;
    color: rgb(255, 255, 255);
    font-size: .7rem;
    background-color: rgb(16, 55, 128);
    cursor: pointer;
}

.barTop .find .find_back ion-icon:hover {
    background-color: rgb(21, 67, 153);
}

.btn_Recursos button {
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 1.4rem;
    text-align: center;
    background-color: transparent;
    color: #fff;
    transition: all 0.5s ease;
}

.btn_Recursos button:hover {
    background-color: #fff;
    color: rgb(21, 67, 153);
}

.btn_Pelicula button {
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    color: rgb(21, 67, 153);
    cursor: pointer;
    font-size: 1.4rem;
    text-align: center;
    transition: all 0.5s ease;
    border: none;
    background-color: #fff;
    border: 2px solid #fff;
}

.btn_Pelicula button:hover {
    color: #fff;
    background: none;
}

/*-------------------------------------------------------------------> Navbar*/

.navbar {
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: rgb(3, 48, 133);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.navbar ul {
    margin-left: 5rem;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #fff;
    margin: 20px;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.5s ease;
}

.navbar ul li a:hover {
    color: #ff1e00;
}

/*----------------------------------------------------- Img Information */

.img_Information img {
    width: 100%;
    height: 44.2rem;
}

/*------------------------------------------------------ Box Information */

.box_info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.box_info .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.box_info .boxes .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 13rem;
    height: 15rem;
    margin: 0 3rem 1rem;
    border: 2px solid #082d66;
    border-radius: 20px;
}

.box_info .boxes .box img {
    display: flex;
    width: 5rem;
    margin: 0 auto;
}

.box_info .boxes .box span {
    font-size: 1rem;
    font-weight: 700;
    color: #082d66;
}

.box_info .boxes .box button {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: none;
    margin-top: 0.6rem;
    margin: 0 auto;
    font-size: 1.3rem;
    color: #ff1e00;
    cursor: pointer;
}

.box_info .boxes .box button:hover {
    font-size: 1.5rem;
}

.box_info .boxes .box button ion-icon {
    margin-right: 0.3rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    background-color: #082d66;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    padding: 1rem;
    width: 100%;
    height: 12rem;
}

.footer .logo {
    margin-right: 2rem;
}

.footer .logo img {
    width: 5rem;
    margin: 0 1rem;
}

.footer .line {
    width: 0.1rem;
    height: 6.5rem;
    background-color: #fff;
}

.footer .txt {
    color: #fff;
    margin-left: 2rem;
    margin-right: 3rem;
}

/* Responsivo - BarTop */
@media screen and (max-width: 768px) {
    .barTop {
        flex-wrap: wrap;
        justify-content: center;
        height: 9rem;
        padding: 0.4rem;
    }

    .barTop img {
        width: 3rem;
        top: 0;
        /* Logo más pequeño */
    }

    .barTop .find .find_back {
        width: 5.4rem;
        height: 2rem;
    }

    .barTop .btn_Recursos button,
    .barTop .btn_Pelicula button {
        width: 3.5rem;
        height: 2rem;
        font-size: 0.4rem;
    }

    .navbar {
        height: 5rem;
    }

    .navbar ul {
        display: inline;
        text-align: center;
        margin: 0;
    }

    .navbar ul li {
        display: inline;
        text-align: center;
    }

    .navbar ul li a {
        font-size: 1rem;
        text-align: center;
    }

    .img_Information img {
        height: 17rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 20rem;
    }

    .footer button {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
